<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdc.mapper.PersonMapper" >
  <insert id="insertPerson" parameterType="com.cdc.pojo.Person">
    INSERT  INTO person(name,password,identity) VALUES  (#{name},#{password},#{identity})
  </insert>
  <select id="queryByPerson" parameterType="com.cdc.pojo.Person" resultType="com.cdc.pojo.Person" >
    SELECT name,password,identity FROM person WHERE name=#{name} AND password=#{password} AND identity=#{identity};
  </select>
  <select id="queryPersonAll" resultType="com.cdc.pojo.Person" >
    SELECT * FROM person WHERE identity='管理员'
  </select>
  <delete id="deletePerson" parameterType="java.lang.String">
    DELETE FROM person WHERE name=#{personName}
  </delete>
  <update id="updatePassword" parameterType="com.cdc.pojo.Person">
    UPDATE  person SET password=#{password}
    WHERE name=#{name} AND identity=#{identity}
  </update>
  <select id="queryPerson" resultType="com.cdc.pojo.Person">
    SELECT * FROM person WHERE name=#{name}
  </select>
</mapper>